<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>86950462818-5j7dg8i9qgrpqlq67sqvl7g19bqutpqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.86950462818-5j7dg8i9qgrpqlq67sqvl7g19bqutpqv</string>
	<key>API_KEY</key>
	<string>AIzaSyDOpE9D8nlJLpYlk_9ztkaUEnx01O5R78Y</string>
	<key>GCM_SENDER_ID</key>
	<string>86950462818</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AhmedAnwar.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>annular-ocean-243200</string>
	<key>STORAGE_BUCKET</key>
	<string>annular-ocean-243200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86950462818:ios:d756e59fd84613c9b5183b</string>
	<key>DATABASE_URL</key>
	<string>https://annular-ocean-243200.firebaseio.com</string>
</dict>
</plist>